<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAyeg-25SS_JlkFkA6fJHdyFtIjBAkUTo4</string>
	<key>GCM_SENDER_ID</key>
	<string>9286299092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.l2helperV2</string>
	<key>PROJECT_ID</key>
	<string>l2-craft-helper</string>
	<key>STORAGE_BUCKET</key>
	<string>l2-craft-helper.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:9286299092:ios:207ca9f812679ca765fa41</string>
</dict>
</plist>